
{% extends 'home.html' %}
{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-3 mb-3 border-bottom">
      <h1 class="h2">  
          Dashboard
      </h1>
    </div>


    <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-lg">
        <thead>
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>Description</th>
            <th>Topics</th>
          </tr>
        </thead>
        <tbody>
          {% for x in team %}
          <tr>
            <td>{{ x.pk }}</td>
            <td><a href='{% url "page2" teamname=x.name %}'>{{ x.name }}</a></td>
            <td>{{ x.description }}</td>
            <td>{{ x.topic_set.count }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    </div>
  </main>

  {% endblock %}