{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
                background-image: url('{% static "guestbook.png" %}')
        }
        .mybackground {
            background-color:ivory;
        }

    </style>
  </head>
  <body>
      <div class="container">
        <div class="jumbotron bg-dark mt-4">
            <h1 class="display-3 text-white">Comments Section</h1>
            <hr class="my-2 py-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">Sign In To Drop Comment</a>
            </p>
        </div>

        <div>
            {% for x in record %}
            <div class="p-2 mb-3 mybackground">
            <h3 class="font-weight-normal text-muted">{{ x.name }}</h3>
            <p class="border-top p-2 lead">{{ x.comment }}</p>
            </div>
            {% endfor %}
        </div>

      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>